<div id="afmodal-content" class="container">
    <div class='afmodal-header row'>
        <div class="col-sm-3">
        </div>
        <div class=" col-sm-9">
            <h2>Här har du jobben</h2>
        </div>
    </div>
    <div class='row' >
        <div id='afListContent' class="afListContent col-12">
            <div class="afTable">
                <div class="afTableBody" id="afAnnonsTableBody" >
                    <!-- generated rows will go here-->
                </div>
            </div>
        </div>
        </div>
        <div  class="row">
            <div class="col-sm-3">
            </div>
            <div  class="col-sm-9">
                <ul id="dynamic-total-pages-pagination" class="pagination-sm" ></ul>
            </div>
        </div>
    <div class='row afmodal-footer'>
        <div class="col-sm-3">
        </div>
        <div class=" col-sm-9">
            <div style="display: inline-block"><span style="font-size: 130%"> Powered by </span> <img
                    src="images/logo-af-white.svg" alt="Arbetsförmedlingen"></div>
        </div>
    </div>
</div>

<div class="'annonshtml"></div>
