<div id="afmodal-content">
    <div class='afmodal-header'>
        <h2>Här har du jobben</h2>
    </div>
    <div class='afmodal-body'>
        <div id='afListContent'>
            <div class="afTable">
                <div class="afTableBody" id="afAnnonsTableBody">
                    <!-- generated rows will go here-->
                </div>
            </div>
        </div>
        <div id="afpaginator">
            <ul id="dynamic-total-pages-pagination" class="pagination-sm"></ul>
        </div>
    </div>
    <div class='afmodal-footer'>
        <div style="display: inline-block"><span style="font-size: 130%"> Powered by </span> <img
                src="images/logo-af-white.svg" alt="Arbetsförmedlingen"></div>
    </div>
</div>
<div class="'annonshtml"></div>
