.mceContentBody, .mceContentBody div, .mceContentBody span, .mceContentBody applet, .mceContentBody object, .mceContentBody iframe, .mceContentBody h1, 
.mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6, .mceContentBody p, .mceContentBody blockquote, 
.mceContentBody pre,.mceContentBody a, .mceContentBody abbr, .mceContentBody acronym, .mceContentBody address, .mceContentBody big, .mceContentBody cite, 
.mceContentBody code,.mceContentBody del, .mceContentBody dfn, .mceContentBody em, .mceContentBody font, .mceContentBody img, .mceContentBody ins, 
.mceContentBody kbd, .mceContentBody q, .mceContentBody s, .mceContentBody samp,.mceContentBody small, .mceContentBody strike, .mceContentBody strong, 
.mceContentBody sub, .mceContentBody sup, .mceContentBody tt, .mceContentBody var,.mceContentBody dl, .mceContentBody dt, .mceContentBody dd, 
.mceContentBody fieldset, .mceContentBody form, .mceContentBody label, .mceContentBody legend,.mceContentBody table, .mceContentBody caption, 
.mceContentBody tbody, .mceContentBody tfoot, .mceContentBody thead, .mceContentBody tr, .mceContentBody th, .mceContentBody td .mceContentBody {
	
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: Verdana, Arial, Helvetica;
	line-height: 1.48em;
	vertical-align: baseline;
}

/* ---------- EPiServer Format ---------- */
/* We don't want to set a fixed font-size for the webpages, 
due to ability of font-size increament */
body.mceContentBody { font-size: 12px; }

/* ---------- Heading Format ---------- */
.mceContentBody h1 { font-size: 2.1em; font-weight: bold; margin: 0 0 24px 0; line-height: 1.2em; }
.mceContentBody h2 { font-size: 1.2em; font-weight: bold; margin: 0 0 8px 0; }
.mceContentBody h3 { font-size: 1.2em; font-weight: bold; }
.mceContentBody h4 { font-size: 1em; font-weight: bold; }
.mceContentBody h5 { font-size: 1em; font-weight: bold; }
.mceContentBody h1 *, .mceContentBody h2 *, .mceContentBody h3 *, .mceContentBody h4 *, .mceContentBody h5 * {

    font-size: inherit;
    font-weight: inherit;
}

/* ---------- Anchor Format ---------- */
.mceContentBody a:link, 
.mceContentBody a:visited,
.mceContentBody a:active,
.mceContentBody a:focus { font-size: inherit; font-weight: inherit; color: #0000ff; text-decoration: underline; }
.mceContentBody a:hover { text-decoration: none; }
.mceContentBody a.date:link, 
.mceContentBody a.date:visited,
.mceContentBody a.date:active,
.mceContentBody a.date:focus { font-size: inherit; font-weight: inherit; color: #0000ff; text-decoration: underline; }
.mceContentBody a.date:hover { text-decoration: none; }

/* ---------- General ---------- */
.mceContentBody caption, 
.mceContentBody th, 
.mceContentBody td { text-align: left; font-weight: normal; }
.mceContentBody blockquote:before, 
.mceContentBody blockquote:after,
.mceContentBody q:before, 
.mceContentBody q:after { content: ""; }
.mceContentBody blockquote, 
.mceContentBody q { quotes: "" ""; }
.mceContentBody p { margin: 0 0 12px 0; }
.mceContentBody em { font-style: italic; }
.mceContentBody strong { font-weight: bold; }
.mceContentBody ul,
.mceContentBody dl,
.mceContentBody ol { margin: 12px 0; padding: 0 0 0 36px; }
.mceContentBody ul { list-style-type: disc; }

/* ---------- Table Format ---------- */
.mceContentBody table { border-collapse: separate; border-spacing: 0; font-size: 1em; }
.mceContentBody table th { text-align: left; }
.mceContentBody table.table-classic { border-collapse: collapse; border: 1px solid #777777; }
.mceContentBody table.table-classic th { border: 1px solid #777777; background-color: #DADADA; padding: 4px; }
.mceContentBody table.table-classic td { border: 1px solid #777777; padding: 2px 4px; }
.mceContentBody table.table-color { border-collapse: collapse; border: 1px solid #275569; }
.mceContentBody table.table-color th { border: 1px solid #275569; background-color: #4495b9; color: #ffffff; padding: 4px; }
.mceContentBody table.table-color td { border: 1px solid #275569; padding: 2px 4px; }
.mceContentBody table.table-classic th.cell-highlighted { background-color: #aaaaaa; }
.mceContentBody table.table-classic td.cell-highlighted { background-color: #f0f0f0; }
.mceContentBody table.table-color th.cell-highlighted { background-color: #377995; }
.mceContentBody table.table-color td.cell-highlighted { background-color: #d1e6ef; }
.mceContentBody table th.cell-leftaligned, 
.mceContentBody table td.cell-leftaligned { text-align: left; }
.mceContentBody table th.cell-rightaligned, 
.mceContentBody table td.cell-rightaligned { text-align: right; }
.mceContentBody table.footer-info-table { width: 100%; }
.mceContentBody table.footer-info-table tr { }
.mceContentBody table.footer-info-table td { }
.mceContentBody table.footer-info-table th { font-weight: bold; }

/*----------- Rubrik ---------- */
h2 { EditMenuName: Rubrik 2; }

/* ---------- Ingress ---------- */
.mceContentBody .ingress { font-size: 1.2em; font-weight: bold; line-height: normal; EditMenuName: Ingress; }

/* ---------- Ordmoln ---------- */
.mceContentBody .ordmoln1 { font-size: 18px; color: #000000; font-weight: bold; EditMenuName: Ordmoln 1; }
.mceContentBody .ordmoln2 { font-size: 18px; color: #6C6D70; font-weight: normal; EditMenuName: Ordmoln 2; }
.mceContentBody .ordmoln3 { font-size: 14px; color: #6C6D70; font-weight: bold; EditMenuName: Ordmoln 3; }
.mceContentBody .ordmoln4 { font-size: 12px; color: #6C6D70; font-weight: normal; EditMenuName: Ordmoln 4; }
.mceContentBody .ordmoln5 { font-size: 12px; color: #6C6D70; font-weight: bold; EditMenuName: Ordmoln 5; }

.mceContentBody .ordmoln1 *, .mceContentBody .ordmoln2 *, .mceContentBody .ordmoln3 *, .mceContentBody .ordmoln4 *, .mceContentBody .ordmoln5 * {

    font-size: inherit;
    font-weight: inherit;
}

/* ---------- Image Format ---------- */
.mceContentBody img[align=right] { float: right; vertical-align: top; margin-left: 7px; EditMenuName: Top right; }
.mceContentBody img[align=left] { float: left; vertical-align: top; margin-right: 7px; EditMenuName: Top left; }